.wrapper {
    border: 2px solid #51de00;
    background-color: #51de00;
    box-shadow: 2px 2px 12px lightgray;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 700px;
    height: 150px;
    
    .desc {
        margin-left: 20px;
        display: flex;
        flex-flow: column wrap;

        h3 {
            color: crimson;
        }

        h2 {
            color: white;
            cursor: pointer;
        }
    }
    

    img {
        width: 100px;
    }
}